/*   ///////////////////////////////////////////////////////////////////// 
     /////////////////////////////////////////////////////////////////////
     ///////////Design and Code* property of Deaver Design Firm///////////
     ////////*Exception: Gallery code, as well as encrypted JS email////// 
     /////////////////////////////////////////////////////////////////////
     /////////////////////////////////////////////////////////////////////
     */

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'LeagueGothic', Fallback, sans-serif;
}



    @font-face {
      font-family: LeagueGothic;
      src: url(../fonts/theleagueofgothic/LeagueGothic-Regular.otf),
      url(../fonts/theleagueofgothic/leaguegothic-regular-webfont.woff) format('woff'),
      url(../fonts/theleagueofgothic/leaguegothic-regular-webfont.woff2) format('woff2'),
      url(../fonts/theleagueofgothic/leaguegothic-regular-webfont.ttf) format('truetype'),
      url(../fonts/theleagueofgothic/leaguegothic-regular-webfont.svg#leaguegothic-regular-webfont) format('svg');

    }
    h1,h2,h3,h4,h5,h6,p,ul,li,.fonttypeleague, #messageboxundernavbar, #contenthousingtitle{
      font-family:LeagueGothic;
    }
       .contentparagraphs{
          text-indent: 10px;
    }
    #abovenavbarimagesandshare{
      position:absolute;
      top:0%;
      width:100%;
      height:14%;
      min-height:10%;
      max-height:14%;
      left:0%;
    }
 
 
   .headerimage{
    height:100%;
    width:25%;
    max-height:100%;
    max-width:25%;
    top:0%;
    left:0%;

   }
   .tumblrimage{
    height:50%;
    width:10%;
    top:0%;
    right:0%;
    position: absolute;
    float:right;
   }
    .facebookimage{
    height:40%;
    width:10%;
    bottom:0%;
    right:0.5%;
    position: absolute;
    float:right;
   }
   #donatearea{
    width: 20%;
    min-height: 40%;
    height: 40%;
    max-height:40%;
    position: absolute;
    left:40%;
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
border-style: none;

   }

#donateareatitle{
 width:100%;
  height:100%;
   color:#5a6684;
  font-size: 4vh;
    font-weight: 0;
   letter-spacing:2.5px;
  text-align: center;
}
   .donate{
position: absolute;
  }
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
  top:14%;
  width:103%;
  min-height: 6%;
  font-size: 1vw;
  font-size:100%;
  font-weight: 100;
  color:#5a6684;
  letter-spacing:2.5px;
  left:-3%;

}
.nav li {
  font-family: LeagueGothic;


}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #DC4242;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

#footer ul{
  width:10%;
  list-style-type: none;
}
 
#footer a {
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s background-color;
}
 

 
#footer a.active {

  cursor: default;
}
 
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 100%;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  #messageboxundernavbariefix{
    position: relative;
  }
#messageboxundernavbar{
  
  position: absolute;
  top:23%;
left:22%;
width: 53%;
  min-width:53%;
  min-height:6%;
  max-height:6%;
  border-top: 2px solid rgb(220, 66, 66);
  border-bottom:2px solid rgb(220, 66, 66);
 font-size:2.3em;
  font-weight: 100;
  color:rgb(220, 66, 66);
  text-align: center;
  line-height: 100%;
 
  }
  #contentbox{
    position: absolute;
    
    top:32%;
    min-width:53%;
    max-width: 16%;
    min-height: 50%;
    height:50%;
    max-height:50%;
    left:22%;
    border:1px solid rgb(220, 66, 66);

overflow-x: noscroll;


  }
  #homeimages{
    position:relative;
    width:100%;
    height:100%;
  }
#footer{
  position:absolute;
  top:100%;
  width:100%;
  max-height:23%;
  height:23%;

  left:0%;
  background: #444;

}
#devolpercitation{
  float:right;
  top:0%;
  right:0%;
  padding-right:1%;
  position: absolute;
  font-size:3vh;
}
#devolpercitation a{
  color: rgb(220, 66, 66);
}
#thelegal501c3statement{
float:right;
  top:45%;
  right:0%;
  width:15%;
  padding-right:1%;
  position: absolute;
  font-size:1vw;
  text-align:right;
  }
  #contenthousingleftside{
    width:50%;
    border-right: 2px solid rgb(220, 66, 66);
    height: 100%;
    position: absolute;
    text-align: center;
    overflow-y: auto;
  }
  #contenthousingleftsidetitle{
    font-size: 4vh;
    color:rgb(220, 66, 66);
    top:0%;
    left:0%;
    font-weight:100;
  }
  #contenthousingrightside{
     width:50%;
    height: 100%;
    position: absolute;
    text-align: center;
    float:right;
    right:0%;
    overflow-y: auto;
  }
  #contenthousingrightsidetitle{
     font-size: 4vh;
    color:rgb(220, 66, 66);
    top:0%;
    left:0%;
    font-weight:100;
  }
  .innertextabout{
    font-size:1.25em;
    padding-left: 2%;
    padding-right:2%;
    font-family: Georgia;
  }
  #leftsidepartnerbox{
    width:45%;
    height:50%;
    left:0%;
    float:left;
    margin-bottom: 3%;
    margin-left: 0%;
    margin-right: 3%;
  }
  #rightsidepartnerbox{
    width:45%;
    height:50%;
    right:0%;
    float:right;
        margin-bottom: 3%;


  }

.partnerimages{
  width:100%;
  height: 200px;
  max-width:100%;
  max-height:100%;
}



#contentbox ul{
position: absolute;
width:90%;



}
.overflow{
  overflow-y:auto;
}

#contentbox li{
    display: block;
    left:0%;

}
#partnername{
    text-align: center;
    font-size:1.5vw;
    color:rgb(220, 66, 66);
    font-weight: 100;

}

.carousel{
  width:100%;
}
.panes{
  width:500%;
}
/*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/
.carousel{
    overflow:hidden;
    width:100%;
}
.panes{
    list-style:none;
    width:500%; /* Number of panes * 100% */
        
    -moz-animation:carousel 30s infinite;
    -webkit-animation:carousel 30s infinite;
    animation:carousel 30s infinite;
}
.panes > li{
    position:relative;
    float:left;
    width:20%; /* 100 / number of panes */
}
.carousel img{
    display:block;
    width:100%;
    max-width:100%;
}
.carousel h2{
    font-size:1em;
    padding:0.5em;
    position:absolute;
    right:10px;
    bottom:10px;
    left:10px;
    text-align:right;
    color:#fff;
    background-color:rgba(0,0,0,0.75);
}
<pre><code>.carousel{
  width:100%;
}
.panes{
  width:<mark>100 * number of panes</mark>%;
}
.panes > li{
  width:<mark>100 / number of panes</mark>%;
}</code></pre>
<pre><code>.carousel{
  width:100%;
}
.panes{
  width:<mark>400</mark>%;
}
.panes > li{
  width:<mark>25</mark>%;
}</code></pre>
@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}
#boardmemberstitle{
  width:100%;
  height:10%;
  border-bottom: 1px dashed rgb(220, 66, 66);
color:rgb(220, 66, 66);
  text-align: center;
  font-size: 5vh;
  font-weight: 100;
}
#boardmembers{
  min-height:40%;
  height: 40%;
max-height: 55%;
  width:100%;
  border-bottom: 1px dashed rgb(220, 66, 66);
   font-family:Georgia;


}
#boardmembers ul{
   list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
width: 100%;
 min-height:40%;
  height: 40%;
max-height: 55%;
 font-family:Georgia;

  text-decoration: none;
  color: rgb(220, 66, 66);
  overflow: auto;
  font-weight: 100;
  font-size: 100%;
  font-size:1.5em;
}

#stafftitle{
  width:100%;
  height:10%;
  border-bottom: 1px dashed rgb(220, 66, 66);
color:rgb(220, 66, 66);
  text-align: center;
  font-size: 5vh;
  font-weight: 100;
}
#staff{
  min-height:35%;
  height: 35%;
max-height: 35%;
  width:100%;
}
#staff ul{
   list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
width: 100%;
  min-height:35%;
  height: 35%;
max-height: 35%;
    font-family: LeagueGothic;
  text-decoration: none;
  color: rgb(220, 66, 66);
  overflow: auto;
  font-weight: 100;
  font-size: 100%;
  font-size: 1.5em;
}

#underconstruction{
  width:99%;
   min-height:99%;
  height: 99%;
max-height: 99%;
  text-align: center;

}
#underconstruction p{
  font-size: 5vh;
  font-size: 5vw;
  vertical-align: center;
  height:100%;
  width: 100%;
    color: rgb(220, 66, 66);

}
 

 

